*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main{
    padding: 15px;
}

.main>header{
    height: 40px;
    background-color: #eee;
    font-size: 1.1em;
    line-height: 40px;
    text-indent: 2em;
    color: #666;
}

nav>ul{
    margin-top: 20px;
    display: flex; /* 使用flex布局 */
    justify-content: space-between; /* 横向分散对齐 */
}

nav>ul>li{
    height: 100px;
    width: 15%;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

nav>ul>li:after {
    content: ''; /* 必须有内容，即使是空字符串 */
    position: absolute; /* 绝对定位 */
    top: 0; /* 定位到顶部 */
    left: 0; /* 定位到左侧 */
    width: 100%; /* 宽度占满整个li */
    height: 100%; /* 高度占满整个li */
    background-color: rgba(0, 0, 0, 0.3); /* 设置半透明黑色蒙版 */
    z-index: 1;
}

nav>ul>li>p{
    color: #fff;
    height: 44px;
    line-height: 44px;
    text-align: center;
    position: relative;
    z-index: 2;
}

nav>ul>li:nth-child(1){
    background-image: url("../images/1.jpg");
}

nav>ul>li:nth-child(2){
    background-image: url("../images/2.jpg");
}

nav>ul>li:nth-child(3){
    background-image: url("../images/3.jpg");
}

nav>ul>li:nth-child(4){
    background-image: url("../images/4.jpg");
}

nav>ul>li:nth-child(5){
    background-image: url("../images/5.jpg");
}

nav>ul>li:nth-child(6){
    background-image: url("../images/6.jpg");
}

caption{
    margin-top: 10px;
    color: #333;
}

caption>span{
    padding-right: 10px;
}

#chart{
    width: 100%;
    height: 83vh;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.content>li{
    width: calc(50% - 15px); /* 两个格子占一行，减去间隔 */
    margin-bottom: 30px; /* 格子底部间隔 */
    box-sizing: border-box;
    border-radius: 5px;
}

.content>li>p{
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-left: 5px;
    line-height: 40px;
    font-weight: bold;
    color: #666;
    border-bottom: 1px solid #ddd;
}

.cloud{
    padding: 10px;
    width: 96%;
    margin-left: 2%;
}

.cloud>img{
    width: 100%;

}